.advanced_search
    h2 Расширенный поиск
    nav.state_select
        a.tr.active(href="#")
            img.flag(src="/images/flags/tr.jpeg")
            |Турция
        a.cu(href="#")
            img.flag(src="/images/flags/cu.jpeg")
            | Куба
        a.ru(href="#")
            img.flag(src="/images/flags/ru.jpeg")
            | Россия
        a.fr(href="#")
            img.flag(src="/images/flags/fr.jpeg")
            | Франция
        a.it(href="#")
            img.flag(src="/images/flags/it.jpeg")
            | Италия
        a.tr(href="#")
            img.flag(src="/images/flags/tr.jpeg")
            | Турция

    img(src="/images/_as_img.png", style="display:block;margin:0 auto 35px")
    h3 Не смогли найти подходящий тур?
        small Воспользуйтесь расширенным поиском!
    img(src="/images/_as_form.png", style="display:block;margin:0 auto 35px;")

