.how_works
    h2 Как работает подбор тура?
    ul.how_works__process
        li.step1
            | Вы отправляете заявку на
            br
            | подбор тура. И ждете ответа в
            br
            | течение 30 минут.
        li.step2
            | Специалисты подбирают
            br
            | специально для вас самые лучшие
            br
            | и выгодные туры
        li.step3
            | Вы выбираете самый подходящий
            br
            | и удобный для вас тур.
