section.order_form
    form.form_panel
        .form_panel__groups
            .form_panel__group.from
                label Откуда:
                select
                    option Москва
                    option Самарканд
                    option Великий Устюг
            .form_panel__group.to
                label Куда:
                select
                    option Тайланд
                    option Новая Зеландия
                    option Кирибати
            .form_panel__group.form_group.dates
                label Даты вылета:
                input(type='text').dates_select_field
                .calendar_panel
                    include ../includes/_calendar
                    .close
            .form_panel__group.duration
                label Ночей:
                select
                    option 5
                    option 10
                    option(selected) 14
                    option 28
            .form_panel__group.persons
                label
                    span Взрослых:
                    span Детей:
                .input_group
                    .input_group__item
                        select
                            option 1
                            option(selected) 2
                            option 3
                    .input_group__item
                        select
                            option(selected) 0
                            option 1
                            option 2
                            option 3
            .form_panel__group.submit
                button.primary_button.start_order Оставить заявку
