.popular_offers.tab_set
    h2 Популярные направления 2016
    nav.popular_offers__menu
        a.tab_link.active(href="#") Пляжный отдых
        a.tab_link(href="#") Эксурсионные туры
        a.tab_link(href="#") Шоп-туры
        a.tab_link(href="#") Отдых с детьми

    .popular_offers__content
        .popular_offers__content_variant.tab_pane.active
            .popular_offers__grid
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/tai.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.vertical.right
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bulgaria.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bali.jpeg')

        .popular_offers__content_variant.tab_pane
            .popular_offers__grid
                .popular_offers__grid_tile.vertical
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bulgaria.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/tai.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bali.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')

        .popular_offers__content_variant.tab_pane
            .popular_offers__grid
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.vertical.right
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bulgaria.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bali.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/tai.jpeg')

        .popular_offers__content_variant.tab_pane
            .popular_offers__grid
                .popular_offers__grid_tile.vertical
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bulgaria.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/tai.jpeg')
                .popular_offers__grid_tile
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/mexico.jpeg')
                .popular_offers__grid_tile.double
                    .popular_offers__grid_tile_content
                        img.popular_offers__grid_tile_content_bg(src='/images/popular/bali.jpeg')
