form.simple_order_form.form_panel
    h2 Оставьте заявку, и мы найдём то, что вы ищете!
    .form_panel__groups
        .form_panel__group.name
            input(type='text', placeholder="Ваше имя")
        .form_panel__group.email
            input(type='text', placeholder="Ваш email")
        .form_panel__group.phone
            input(type='text')
        .form_panel__group.submit
            button.primary_button Оставить заявку
