.section_excellence__banner
    .iosslider#excellence__banner
        .slider
            .slide
                img.slide__icon.shield(src="/images/slider_icon--shield.png")
                .slide__content
                    h3 Надёжность
                    article
                        | ANEX Tour – широко известная, динамично развивающаяся компания c богатым туроператорским опытом, сплоченным профессиональным коллективом и надежными партнерами. Сегодня ANEX Tour по праву считается одной из ведущих туроператорских компаний в России. По результатам различных рейтингов наша компания входит в тройку лидеров по турецкому
                        | и египетскому направлениям, в пятерку лучших туроператоров, отправляющих российских туристов в Таиланд и Испанию.
            .slide
                img.slide__icon.cards(src="/images/slider_icon--cards.png")
                .slide__content
                    h3 Широкая еоргафия
                    article
                        | Вообще-то еоргафия — это наука для извозчиков, а этот текст надо будет потом заменить настоящим
            .slide
                img.slide__icon.talk(src="/images/slider_icon--talk.png")
                .slide__content
                    h3 Бац!
                    article
                        | А тут что-то такое неожиданное, от чего все должны разом стать нашими клиентами
    .section_excellence__banner_button.prev#excellence__banner__prev
    .section_excellence__banner_button.next#excellence__banner__next
