.layout
  width: $content-width
  margin: auto
  &__header
    margin: 24px 0 17px
  &__main
    border-radius: 8px
    box-shadow: rgba(0,0,0,.3) 1px 0 29px
    margin: 0 0 21px
    background: white
    &_header
      position: relative
      &_nav
        position: absolute
    &_content
      padding-left: $grid-gutter-width / 2
      padding-right: $grid-gutter-width / 2
    &_footer
      text-align: center
      height: 70px
      line-height: 70px
      font-family: Tahoma, sans-serif
      border: 1px solid white
      +border-bottom-radius($border-radius-lg)
      +gradient-vertical(white, #efefef)
