doctype html
html(lang="ru")
    head
        title TUI
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic', rel='stylesheet')
        link(rel="stylesheet", href="/styles/style.css")
    body
        .layout
            .layout__header.page_header
                .logo.page_header__logo
                    img(src='/images/logo.png')
                    | туры от туроператора TUI
                .page_header__cblock.phone
                    .page_header__cblock_info (495) 995-24-44
                    button.page_header__cblock_link Обратный звонок
                .page_header__cblock.where
                    .page_header__cblock_pre без выходных
                    .page_header__cblock_info 9:00 - 21:00
                    button.page_header__cblock_link Где купить тур?
                .page_header__cblock.get_tour
                    button.primary_button#get_tour Подобрать тур сейчас!
            .layout__main
                .layout__main_header
                    nav.main_menu.layout__main_header_nav
                        a(href="#best_offers") Лучшие предложения
                        a(href="#excellence") Преимущества TUI
                        a(href="#states") Популярные страны
                        a(href="#reviews") Отзывы клиентов
                        a(href="#search") Поиск тура
                        a(href="#where2buy") Где купить тур
                    section.showcase
                        h1.showcase__header
                            | Лучшие горящие туры
                            br
                            | от TUI TOUR
                    include ./includes/_order_form
                    section.layout__main_content.section_offers
                        h2 Лучшие предложения
                        p TUI Travel способен гарантировать комфортный и качественный отдых по многим направлениям. Можно выбрать романтику средиземноморской Европы и побывать в Андорре, Греции, Испании, Италии, на Кипре или во Франции. Можно ощутить гармонию классической Австрии или дальневосточную экзотику Таиланда. Можно окунуться в загадочность арабского востока в Турции, Египте или Объединенных Арабских Эмиратах или же провести время на Балканах, в колорите Болгарии, Чехии или Хорватии. Оцените все это – и вы согласитесь, что ваш выбор - туроператор TUI обоснован, продуман и полностью правилен.
                .layout__main_footer
                    | © 2015 Точка продаж TUI
            .layout__footer.page_footer
                .page_footer__description
                    | Туры в Турцию, Египет, Таиланд, ОАЭ, Испанию, Грецию, Марокко, Вьетнам, Чехию, Андорру, Доминикану, Мексику, Болгарию, Россию
                .page_footer__logo
                    img(src='/images/logo_secondary.png')
                    | туры от туроператора TUI

        script(src='/vendor/jquery.min.js')
        script(src='/vendor/select2.full.min.js')
        script(src='/scripts/script.js')
