doctype html
html(lang="ru")
    head
        title TUI
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic', rel='stylesheet')
        link(rel="stylesheet", href="/vendor/fancybox/jquery.fancybox.css")
        link(rel="stylesheet", href="/vendor/jquery-ui.min.css")
        link(rel="stylesheet", href="/styles/style.css")
    body
        .layout
            .layout__header.page_header
                .logo.page_header__logo
                    img(src='/images/logo.png')
                    | туры от туроператора TUI
                .page_header__cblock.phone
                    .page_header__cblock_info (495) 995-24-44
                    button.page_header__cblock_link.button_feedback Обратный звонок
                .page_header__cblock.where
                    .page_header__cblock_pre без выходных
                    .page_header__cblock_info 9:00 - 21:00
                    a.section_link.page_header__cblock_link(href="#where2buy") Где купить тур?
                .page_header__cblock.get_tour
                    button.primary_button#get_tour Подобрать тур сейчас!
            .layout__main
                .layout__main_header
                    nav.main_menu.layout__main_header_nav#main_menu
                        a.section_link(href="#best_offers") Лучшие предложения
                        a.section_link(href="#excellence") Преимущества TUI
                        a.section_link(href="#popular") Популярные страны
                        a.section_link(href="#reviews") Отзывы клиентов
                        a.section_link(href="#search") Поиск тура
                        a.section_link(href="#where2buy") Где купить тур
                    section.showcase
                        h1.showcase__header
                            | Лучшие горящие туры
                            br
                            | от TUI TOUR
                    include ./includes/_order_form

                section.layout__main_content.section_offers#section_best_offers
                    article
                        h2 Лучшие предложения
                        p TUI Travel способен гарантировать комфортный и качественный отдых по многим направлениям. Можно выбрать романтику средиземноморской Европы и побывать в Андорре, Греции, Испании, Италии, на Кипре или во Франции. Можно ощутить гармонию классической Австрии или дальневосточную экзотику Таиланда. Можно окунуться в загадочность арабского востока в Турции, Египте или Объединенных Арабских Эмиратах или же провести время на Балканах, в колорите Болгарии, Чехии или Хорватии. Оцените все это – и вы согласитесь, что ваш выбор - туроператор TUI обоснован, продуман и полностью правилен.
                img(src="/images/best_offers.png", class="img-responsive center-block", style="margin-bottom: 39px")
                section.section_excellence#section_excellence
                    article.section_excellence__lead_text
                        h2 Почему выбирают Tui
                        p 40 лет опыта успешной работы – весьма серьезная рекомендация для туроператора, а для туроператора TUI Travel - далеко не единственная.
                    include ./includes/_slider
                section.section_popular
                    include ./includes/_popular
                section.simple_order
                    include ./includes/_simple_order_form
                section.section_reviews#section_reviews
                    include ./includes/_reviews
                section.section_advanced_search#section_search
                    include ./includes/_advanced_search
                section.section_how_works
                    include ./includes/_how_works
                include ./includes/_simple_order_form
                section.layout__main_content.section_text
                    article
                        h2 Горящие туры 2015
                        p Горящие туры 2015 – идеальный вариант путевки в страну вашей мечты, если вы не отличаетесь большим терпением и готовы сорваться в поездку прямо на днях. Кроме того, это отличный способ сэкономить свои средства, проведя дни долгожданного отдыха в условиях комфорта и отличного сервиса по вполне демократичным ценам.
                        p Турагентство «Библио Глобус» предлагает большое количество туристических направлений и маршрутов, способных удовлетворить самые различные запросы и желания путешественников. Это могут быть пляжные или экскурсионные туры, комбинированные туры с посещением нескольких стран, свадебные, новогодние, круизные, спа- или йога-туры. Помимо направлений отдыха, путевки различаются в зависимости от организации обслуживания или питания в отеле, - например, туры «все включено», а также от категории его звездности.
                        p Горящие туры 2015 – это путевки в самые разные страны и уголки земного шара – от родной России и таких близких и уже «накатанных» Египта, Турции или Эмиратов до экзотической Доминиканы, Кубы или Мексики. Томительное и длительное ожидание даты вылета в этом случае вам не грозит, а интересный отдых с массой развлечений в сочетании с качественным обслуживанием вам гарантирован.
                        p Прелесть и немаловажный плюс горящих туров еще и в их низкой стоимости по сравнению с путевками, приобретаемыми на стандартных условиях, разница в таких случаях обычно составляет около 20-30% от первоначально заявляемой цены. Появляются они в связи с тем, что кому-то срочно пришлось отказаться от поездки по каким-либо причинам, или ввиду того, что в данный момент спрос на этот тур оказался немного ниже ожидаемого – чаще всего это происходит в низкие туристические сезоны, время наступления которых в разных странах не совпадает.
                        p Горящие туры 2015 появляются на сайте турагентства «Библио Глобус» практически ежедневно, обычно за несколько дней до даты предполагаемого выезда, так сказать, в последнюю минуту, поэтому стоит следить за обновлениями на сайте или же звонить в call-центр агентства, оператор которого ответит на все ваши вопросы, поможет с выбором индивидуального, предпочтительного для вас тура, его направления, маршрута, а также забронирует номера в выбранном вами отеле. Вы также можете выбрать понравившуюся вам путевку самостоятельно и оставить на нее заявку, заполнив специальную онлайн-форму на нашем сайте.
                        p Стоит упомянуть, что кроме горячих туров существуют еще и горячие спецпредложения. Если в первом варианте ставка делается на коротком сроке ожидания вылета, то во втором – на чрезвычайно выгодных условиях путевки, в частности, на порядок более низкой цене, чем у конкурирующих туроператоров.
                section.section_contact#section_where2buy
                    include ./includes/_contact

                .layout__main_footer
                    | © 2015 Точка продаж TUI
            .layout__footer.page_footer
                .page_footer__description
                    | Туры в Турцию, Египет, Таиланд, ОАЭ, Испанию, Грецию, Марокко, Вьетнам, Чехию, Андорру, Доминикану, Мексику, Болгарию, Россию
                .page_footer__logo
                    img(src='/images/logo_secondary.png')
                    | туры от туроператора TUI

        script(src='/vendor/jquery.min.js')
        script(src='/vendor/jquery-ui.min.js')
        script(src='/vendor/datepicker-ru.js')
        script(src='/vendor/icheck.min.js')
        script(src='/vendor/select2.full.min.js')
        script(src='/vendor/jquery.iosslider.min.js')
        script(src='/vendor/fancybox/jquery.fancybox.pack.js')
        script(src='/vendor/jquery.form.js')
        script(src='/scripts/script.js')
