doctype html
html(lang="ru")
    head
        title TUI
        script(type='text/javascript', src='/scripts/script.js')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic', rel='stylesheet')
        link(rel="stylesheet", href="/styles/style.css")
    body
        .layout
            .layout__header.page_header
                .logo.page_header__logo
                    img(src='/images/logo.png')
                    | туры от туроператора TUI
                .page_header__cblock.phone
                    .page_header__cblock_info (495) 995-24-44
                    button.page_header__cblock_link Обратный звонок
                .page_header__cblock.where
                    .page_header__cblock_pre без выходных
                    .page_header__cblock_info 9:00 - 21:00
                    button.page_header__cblock_link Где купить тур?
                .page_header__cblock.get_tour
                    button.primary_button#get_tour Подобрать тур сейчас!
            .layout__main
                .layout__main_footer
                    | © 2015 Точка продаж TUI
            .layout__footer.page_footer
                .page_footer__description
                    | Туры в Турцию, Египет, Таиланд, ОАЭ, Испанию, Грецию, Марокко, Вьетнам, Чехию, Андорру, Доминикану, Мексику, Болгарию, Россию
                .page_footer__logo
                    img(src='/images/logo_secondary.png')
                    | туры от туроператора TUI
