doctype html
html(lang="ru")
    head
        title TUI
        script(type='text/javascript', src='/scripts/script.js')
        link(rel="stylesheet", href="/styles/style.css")
    body
        h1 TUI
