.popup_feedback
    .popup_feedback__header
        .logo
            img(src='/images/logo.png')
            | туры от туроператора TUI
    .popup_feedback__content
        form.popup_feedback__form#popup_feedback_form(method="post", action="/api/feedback/")
            h4.we_are_too_fast Мы перезвоним Вам через 5 секунд!
            h4.order Оставить заявку
            .popup_feedback__fieldset
                .popup_feedback__form_group.name
                    label Ваше имя:
                    input(type="text")
                .popup_feedback__form_group.email
                    label Ваш email:
                    input(type="text")
                .popup_feedback__form_group.phone
                    label Ваш телефон:
                    input(type="text")
                button.primary_button.submit(type="submit") Отправить заявку
        .popup_feedback__ok
            h4 Спасибо!
            p.popup_feedback__ok_text
                | Менеджеры агентства свяжутся
                | с вами в течение 15 минут!
            button.primary_button.fancybox_close Вернуться на сайт
