.popup_feedback.order.form_container
    .popup_feedback__header
        .logo
            img(src='/images/logo.png')
            | туры от туроператора TUI
    .popup_feedback__content
        form.popup_feedback__form#popup_feedback_form(method="post", action="/api/feedback/")
            h4 Оставить заявку
            .popup_feedback__fieldset
                .popup_feedback__form_group.form_group.name.required
                    label Ваше имя:
                    input(type="text")
                    .error Обязательно для заполнения
                .popup_feedback__form_group.form_group.email.required
                    label Ваш email:
                    input(type="text")
                    .error Обязательно для заполнения
                .popup_feedback__form_group.form_group.phone.required
                    label Ваш телефон:
                    input(type="text")
                    .error Обязательно для заполнения
                button.primary_button.submit(type="submit") Отправить заявку
            .load
        .popup_feedback__ok
            h4 Спасибо!
            p.popup_feedback__ok_text
                | Менеджеры агентства свяжутся
                | с вами в течение 15 минут!
            button.primary_button.fancybox_close Вернуться на сайт
