.calendar
  border: $border-width solid #ddd
  +border-radius(1px)
  +size(347px, 296px)
  background: white

  &__nav
    +size(98px, 100%)
    +pull-left()
    border-right: $border-width solid #ddd
    &_year
      +size(100%, 48px)
      line-height: 48px
      color: #d70404
      font-size: 18px
      text-align: center
      .year_action
        +size(15px, 100%)
        background: transparent
        padding: 0
        border: 0
        cursor: pointer
        &.decrease
          +pull-left()
          background: url("/src/data-images/year_decrease.png") right center no-repeat
        &.increase
          +pull-right()
          background: url("/src/data-images/year_increase.png") left center no-repeat
    &_month
      +size(100px, 244px)
      margin: 0 -2px
      &_box
        & > ul
          +list-unstyled()
          & > li
            +size(100px, 33px)
            line-height: 33px
            padding: 0 0 0 20px
            cursor: pointer
            &.selected
              background: #d70404
              color: white
              position: relative
              &:after
                content: ''
                border: 8px solid transparent
                border-left-color: #d70404
                position: absolute
                right: -16px
                top: 9px


  &__datepicker
    +size(245px)
    +pull-right()
    .ui
      &-widget
        font-family: 'Roboto', sans-serif!important
      &-datepicker
        width: 100%
        border: 0!important
        background: transparent
        padding: 9px 11px 0 13px
        &-header
          background: transparent
          border: 0
          padding: 0
        &-title
          font:
            size: 18px
            weight: normal
        &-next, &-prev
          display: none
        &-calendar
          th
            text-transform: uppercase
            padding: 7px 0 5px
            font:
              size: 13px
              weight: normal
          td
            .ui-state-default
              border: 0
              padding: 1px 0 2px
              background: transparent
              +size(28px, 29px)
              line-height: 28px
              text-align: center
            .ui-state-highlight
              background: #ccc
              color: black
            //.ui-state-active
            //  background: #d70404
            //  color: white
            &.dp-highlight
              background: #d70404
              .ui-state-default
                color: white

        &-week-end
          span, .ui-state-default
            color: red

