.main_menu
  @extend %nav-panel
  width: $content-width
  +border-top-radius($border-radius-lg)
  display: table
  line-height: 1
  overflow: hidden
  opacity: 1
  +transition(opacity 1s ease)
  & > *
    display: table-cell
    float: none
    vertical-align: middle
    padding-top: 4px
    width: 1px
    &:first-child, &:last-child
      width: auto
    &:first-child
      text-align: right

  &.fixed
    position: fixed
    top: 0
    +border-top-radius(0)
    opacity: .9
    z-index: 4096

