$order-form-gutter: 6px


.order_form
  .form_panel
    width: 1049px
    margin-top: -84px
    margin-bottom: 76px
    &__groups
      +make-row($order-form-gutter)
    &__group
      +make-col($order-form-gutter)
      &.from
        width: 164px
      &.to
        width: 154px
      &.dates
        width: 216px
      &.duration
        width: 90px
      &.persons
        width: 160px
        label
          span:last-child
            float: right
      &.submit
        padding-left: 16px
        padding-top: 23px

.input_group
  @extend .clearfix
  @extend %form_panel__widget
  padding: 0
  &__item
    float: left
    width: 50%
    position: relative
    &:not(:first-child)
      &:before
        content: ''
        display: block
        +size(0, 26px)
        border-left: $border-width dotted #ccc
        top: 10px
        left: 0
        position: absolute

  .select2-selection--single
    padding-left: 16px!important
    border: 0!important
    background: transparent!important
    box-shadow: none!important