.page_header
  @extend .clearfix
  &__logo
    +pull-left()
  &__cblock
    +pull-right()
    +make-col()
    padding-top: 30px
    color: white
    text:
      shadow: $shadow-color 0 1px 1px
      align: center
    &_pre
      margin-top: -12px
      line-height: 12px
      font-size: 14px
    &_info
      font:
        size: 28px
        weight: bold
      line-height: 40px
    &_link
      @extend .btn-link
      color: white
      padding: 0 0 0 36px
      border: 0
      line-height: 20px
      &:before
        content: ''
        display: block
        +size(30px)
        +pull-left()
        margin: 0 0 0 -36px
      &:after
        content: ''
        display: block
        border-bottom: 2px dotted rgba(255,255,255,1)
        +transition(border-bottom-color $transition-duration-hover ease)
      &:hover
        text-decoration: none
        color: white
        &:after
          border-bottom-color: rgba(255,255,255,0)
    &.phone &_link:before
      background: url("/src/data-images/icon_phone.png") center no-repeat
    &.where &_link:before
      background: url("/src/data-images/icon_where.png") center top no-repeat

