.popup_feedback
  width: 472px
  +border-radius($border-radius)
  &__header
    +border-top-radius($border-radius)
    +gradient-vertical(white, #eee)
    height: 168px
    padding: 24px 0 0
    .logo
      width: 222px
      @extend .center-block
      img
        margin-bottom: 5px
  &__form
    padding: 27px 0 34px
    @extend %full-size
    h4
      text-align: center
      font:
        size: 24px
        weight: normal
      margin-bottom: 21px
    label
      font:
        size: 18px
        weight: bold
      margin-bottom: 6px
    input[type="text"]
      background: #e3e3e3
      border: 0!important
      box-shadow: inset rgba(0,0,0,.2) 0 0 5px
      font-size: 18px
      padding: 15px 10px
    &_group
      margin-bottom: 15px
      position: relative
      .error
        position: absolute
        top: 31px
        left: 103%
        border: 1px solid #f8b6b1
        +border-radius($border-radius-sm)
        font-size: 14px
        line-height: 40px
        padding: 0 18px 0 10px
        background: #fbe6e4
        color: #e54d42
        white-space: nowrap
        &:before, &:after
          content: ''
          position: absolute
          +size(0)
        &:before
          border: 9px solid transparent
          border-right-color: #f8b6b1
          left: -18px
          top: 11px
        &:after
          border: 8px solid transparent
          border-right-color: #fbe6e4
          left: -16px
          top: 12px
        visibility: hidden
        transition: all .5s ease
        opacity: 0
        transform: scale(.5)
        transform-origin: left center
      &.error .error
        visibility: visible
        transform: scale(1)
        opacity: 1
    .submit
      @extend .center-block
      margin-top: 29px
      padding-left: 38px
      padding-right: 38px
  &__fieldset
    padding: 0 67px

  &__ok
    @extend %full-size
    text-align: center
    padding: 74px 30px 30px
    h4
      font:
        size: 36px
        weight: normal
      margin-bottom: 23px
      text-transform: uppercase
    &_text
      font-size: 24px
      line-height: 29px
      min-height: 122px


  //animation effect
  &__content
    position: relative
    transform-origin: center
    perspective: 400px
    .feedback_default &
      min-height: 358px

  &__form, &__ok
    backface-visibility: hidden
    transition: transform 1s ease

  &__form
    transform: rotateX(0deg)
    position: relative
    .load
      @extend %full-size
      opacity: 0
      visibility: hidden
      transition: opacity .5s ease
  &.load &__form
    .load
      opacity: .8
      background: white
      visibility: visible
      &:before
        content: ''
        @extend %loader
        margin: -11px 0 0 -63px
        position: absolute
        top: 50%
        left: 50%
  &.ok &__form
    transform: rotateX(180deg)

  &__ok
    transform: rotateX(-180deg)
  &.ok &__ok
    transform: rotateX(0deg)
