$popular-offers-grid-columns: 4
$popular-offers-gutter: 20px
$popular-offers-tile-height: 250px


.popular_offers
  padding: 75px 0 0
  margin-bottom: 30px
  h2
    text-align: center
    margin-bottom: 40px
  &__menu
    @extend %nav-panel
    display: table
    margin: 0 auto 31px
    +box-shadow($shadow-color 0 5px 20px)
    +border-radius($border-radius-lg)
    overflow: hidden
    & > a
      padding: 15px 28px 15px 68px
      line-height: 18px
      display: table-cell
      float: none
      vertical-align: middle
      &:after
        content: ''
        position: absolute
        top: 10px
        left: 24px
        +size(42px, 43px)
        z-index: 8
      &.beach:after
        background: url("/src/data-images/icon_beach.png") 0px 2px no-repeat
      &.excursion
        padding-left: 82px
        &:after
          left: 30px
          background: url("/src/data-images/icon_photo.png") 0px 3px no-repeat
      &.shop:after
        top: 8px
        background: url("/src/data-images/icon_bag.png") 3px 0px no-repeat
      &.baby:after
        left: 21px
        background: url("/src/data-images/icon_baby.png") 0px 0px no-repeat
      &.active
        +gradient-vertical(#f3f3f3, #ddd)
        +box-shadow(inset $shadow-color 0 0 3px)
  &__content
    padding: 0 $grid-gutter-width /2
    position: relative
    &_variant
      visibility: hidden
      opacity: 0
      @extend %full-size
      &.active
        visibility: visible
        opacity: 1
        position: static
  &__grid
    +make-row($popular-offers-gutter)
    &_tile
      +make-col($popular-offers-gutter)
      +make-col-span(1, $popular-offers-grid-columns)
      height: $popular-offers-tile-height
      margin-bottom: $popular-offers-gutter
      display: table
      &.vertical
        height: $popular-offers-tile-height*2 + $popular-offers-gutter
      &.right
        +pull-right()
      &_content
        position: relative
        height: 100%
        display: table-cell
        vertical-align: bottom
        z-index: 2
        +border-radius($border-radius)
        overflow: hidden
        text-align: center
        font:
          size: 18px
          weight: bold
        color: white
        text-shadow: rgba(0,0,0,.71) 0 1px 5px
        +transition(box-shadow $transition-duration-hover ease)
        cursor: pointer
        padding: 20px
        &:hover
          +box-shadow($shadow-color 0 2px 16px)
        &:after
          content: ''
          @extend %full-size
          +gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,.6), 60%, 100%)
          z-index: -1

        &_bg
          @extend %full-size
          z-index: -1

        .label
          margin: 0 -8px 16px

        .button
          @extend .default_button
          display: block
          position: relative
          padding-left: 61px
          &:before
            content: ''
            position: absolute
            top: -2px
            left: -2px
            +size(61px, 50px)
            background: url("/src/data-images/button-plane.png") no-repeat
          .default
            display: inline
          .hover
            display: none
          &:hover
            border-color: #e65c5c
            color: white
            text-shadow: $shadow-color 0 2px 5px
            +gradient-vertical($brand-primary, darken($brand-primary, 10%))
            .default
              display: none
            .hover
              display: inline

      &.double
        +make-col-span(2, $popular-offers-grid-columns)

        .label
          display: table-cell
          width: 330px
          text-align: left
          white-space: nowrap
          vertical-align: middle
        .button
          display: table-cell
          width: 216px
